.table {
  margin-bottom: 10px;
  overflow: scroll;
  height: 480px;
  color: #6a5d5d;
  display: block;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tbody {
  display: flex;
  flex-direction: column;
}
