* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__left {
  flex: 0.7;
}

.app__right {
  flex: 0.28;
  display: flex;
  flex-direction: column;
}

.app__right__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.app__right__da {
  display: flex;
  justify-content: space-between;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 20px;
  }
}

.dataReference {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
